<md-content class="md-padding">

    <md-card ng-if="error">
        <md-card-content>
            <h2 class="md-title">Error</h2>
            <p>{{error}}</p>
        </md-card-content>
    </md-card>

    <md-card ng-if="!error">
        <md-card-content>
            <div layout="row" layout-align="start center" layout-wrap>

                <form ng-submit="onPredicateChange()" class="action">
                    <div layout="row" layout-align="start center">
                        <div flex>
                            <md-input-container>
                                <label>Search</label>
                                <input ng-model="query.filter">
                            </md-input-container>
                        </div>
                        <div ng-click="clearKeyword()"><i class="fa fa-times"></i></div>
                    </div>
                </form>

                <div layout="row" layout-align="start center" ng-repeat="filter in filterValues" class="action">
                    <div flex>
                        <md-input-container>
                            <label>{{filter.displayName}}</label>
                            <md-select ng-model="filterObj[filter.field]" ng-change="onPredicateChange()">
                                <md-option ng-repeat="val in filter.values" value="{{val.value}}">
                                    {{val.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div>
                        <div ng-click="clearFilter(filter.field)"><i class="fa fa-times"></i></div>
                    </div>
                </div>

            </div>


            <md-data-table-toolbar>
                <h2 class="md-title">{{title}}</h2>
            </md-data-table-toolbar>

            <md-data-table-container>
                <table md-data-table md-progress="deferred">
                    <thead md-order="query.order" md-trigger="getdata">
                    <tr>
                        <th name="{{column.displayName}}" ng-repeat="column in cols"
                            ng-class="{'show' : !column.show, 'hide' : column.show, 'show-sm' : column.show && column.show.sm, 'show-gt-sm' : column.show && column.show.gtsm, 'show-md' : column.show && column.show.md, 'show-gt-md' : column.show && column.show.gtmd, 'show-lg' : column.show && column.show.lg, 'show-gt-lg' : column.show && column.show.gtlg}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-auto-select ng-repeat="entity in entities.data" ng-click="onRowClick(entity, $index)"
                        class="selectable">
                        <td ng-repeat="column in cols"
                            ng-class="{'show' : !column.show, 'hide' : column.show, 'show-sm' : column.show && column.show.sm, 'show-gt-sm' : column.show && column.show.gtsm, 'show-md' : column.show && column.show.md, 'show-gt-md' : column.show && column.show.gtmd, 'show-lg' : column.show && column.show.lg, 'show-gt-lg' : column.show && column.show.gtlg}">
                            {{entity[column.field]}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{entities.total}}"
                                      md-trigger="getdata" md-row-select="pageSizes"></md-data-table-pagination>

        </md-card-content>
    </md-card>
</md-content>