<div>
    <div>
        <md-data-table-toolbar>
            <h2 class="md-title">{{title}}</h2>
        </md-data-table-toolbar>

        <md-input-container md-no-float>
            <md-icon><i class="fa fa-search"></i></md-icon>
            <input ng-model="query.filter" type="text" placeholder="Keyword">
        </md-input-container>


        <div layout="row" layout-align="center center" ng-repeat="filter in filterValues">
            <div flex="80">
                <md-input-container style="width: 70%;">
                    <label>{{filter.displayName}}</label>
                    <md-select ng-model="filterObj[filter.field]" ng-change="onFilterChange()">
                        <md-option ng-repeat="val in filter.values()" value="{{val}}">
                            {{val}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="20">
                <md-button aria-label="clear" ng-click="clearFilter(filter.field)">clear</md-button>
            </div>

        </div>


        <md-data-table-container>
            <table md-data-table md-row-select="selected" md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange">
                <tr>
                    <th name="{{column.displayName}}" ng-repeat="column in cols"></th>
                </tr>
                </thead>
                <tbody>
                <tr md-auto-select ng-repeat="entity in entities.data">
                    <td ng-repeat="column in cols">{{entity[column.field]}}</td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{entities.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
    </div>
</div>
