<div ng-controller="ConfigurationCtrl">
  <listview command="getCommand" columns="getColumns" filters="getFilters" responsename="listconfigurationsresponse" responseobject="configuration" title="Configuration"></listview>
  <listview command="getCommand2" columns="getColumns2" responsename="listnetworkofferingsresponse" responseobject="networkoffering" title="Network Offerings"></listview>
  <listview command="getCommand3" columns="getColumns3" responsename="listostypesresponse" responseobject="ostype" title="Os Types"></listview>
</div>