<div ng-controller="LoginCtrl" class="mdl-grid" style="padding-top: 50px; max-width: 600px;">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title" style="justify-content: center;">
            <h2 class="mdl-card__title-text">Login to Apache CloudStack</h2>
        </div>
        <form ng-submit="onSubmit()">
            <div style="justify-content: center; width: 100%; display: flex;">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="username" ng-model="loginForm.username">
                    <label class="mdl-textfield__label" for="username">Username</label>
                </div>
            </div>
            <div style="justify-content: center; width: 100%; display: flex;">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password" ng-model="loginForm.password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
            </div>
            <div style="justify-content: center; width: 100%; display: flex; padding-top: 30px; padding-bottom: 40px;">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>